#about {
    width: 100%;
    height: auto;
    /* margin-top: 80px; */
    padding-top: 60px;
}

.title {
    text-align: center;
}

.pre-title-text {
    margin-bottom: -7px;
    font-size: 11px;
    font-weight: 700;
    font-family: 'Playfair Display', serif;
    letter-spacing: 1px;
    color: rgb(184, 207 , 161);
    text-transform: uppercase;
}

.title-text {
    font-size: 50px;
    font-family: 'Playfair Display', serif;
    color: rgb(74, 74 , 74);
}

#about .title-sub-title {
    width: 40%;
    margin: 45px auto 0 auto;;
    font-size: 14px;
    font-family: 'Playfair Display', serif;
    color: rgb(155, 155, 155);
    line-height: 18px;
    text-align: center;
    line-height: 24px;
}

#about .hero-image {
    width: 120%;
    height: 900px;
    margin: 80px 0 0 -75px;
    background-image: url('../img/image-4.jpg');
    background-color: #fff;
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
  }



/* ---------------------------------------MOBILE--------------------------------------- */
@media (min-width: 320px) and (max-width: 734px) {
    #about {
        /* margin-top: 54px; */
        margin-top: 0;
        padding-top: 40px;

    }

    #about .title {
        margin-bottom: 0;
    }

    #about .title-text {
        font-size: 30px;
    }

    #about .title-sub-title {
        width: 85%;
        margin: 20px auto 0 auto;
        font-size: 12px;
        font-family: 'Playfair Display', serif;
        color: rgb(155, 155, 155);
        line-height: 18px;
        text-align: center;
        line-height: 18px;
    }

    #about .hero-image {
        width: 100vw;
        height: 254px;
        margin: 50px 0 0 0 ;;
       
    }

    .services-item:nth-last-of-type(2) {
        height: 254px;
    }
  

}
